.hamburger {
    display: flex;
    flex-direction: column;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
    transition: 300ms ease;
    z-index: 100;

    .row {
        &:not(:last-child) { margin-bottom: 4px; }
        height: 3px;
        width: 100%;
        background-color: rgb(109, 109, 109);
        transition: 300ms ease;
        position: relative;
    }

    &.open {
        transform: rotate(180deg);
        .row{ margin: 0; }
        .top { transform: translateX(7px) translateY(10px) rotate(-45deg); width: 75%; }
        .middle { opacity: 1; }
        .bottom { transform: translateX(7px) translateY(-10px) rotate(45deg); width: 75%;  }
    }
}