.app-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .drawer {
        flex: 1 1 300px;
        min-width: 300px;
        max-width: 300px;
        border-right: 1px solid rgba(0,0,0,0.14);
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #fff;
        transition: 300ms ease;
        z-index: 99;

        &.open { transform: translateX(0%); }
        &.closed { transform: translateX(-100%); }


        .header {
            height: 200px;
            border-bottom: 1px solid rgba(0,0,0,0.14);
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .nav-links {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 16px;

            .link {
                display: flex;
                align-items: center;
                i { margin-right: 16px; }
                a {
                    text-decoration: none;
                    color: rgba(0,0,0,0.74);
                }
                &:not(:last-child) { margin-bottom: 24px; }
            }
        }
    }
    
    .toolbar {
        width: 100%;
        height: 56px;
        border-bottom: 1px solid rgba(0,0,0,0.14);
        background: #fff;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 8px 16px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .content {
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        overflow: auto;
        max-height: 100%;
    }
}
